{% extends 'main.html.twig' %}
{% import "macros/rating.html.twig" as ma %}

{% block title -%}
    The {{ collection }} Collection
{%- endblock %}

{% block content %}
<article class="restaurant">
    <table>
        <tr>
            <td colspan="2">
                <h1 style="color: aliceblue;">The {{ items[0].collection.name }} Collection</h1>
            </td>
            <td colspan="2">
                <div></div>
            </td>
        </tr>
    </table>

    <h2 style="color: aliceblue;">Items</h2>

    <ul>
        {% for item in items %}
            <li>
                <table style="color: aliceblue;">
                    <tr>
                        <th>Name</th>
                        <td>
                            <a href="/collections/{{ collection }}/{{ item.name }}">
                                {{ item.name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>£{{ item.price|number_format(2) }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ item.status }}</td>
                    </tr>
                </table>
            </li>
        {% endfor %}
    </ul>
</article>
{% endblock %}
