{% extends 'main.html.twig' %}

{% block title -%}
    Home
{%- endblock %}

{% block content %}
{% import "macros/rating.html.twig" as ma %}

<article class="home">
    <div class="container home">
        <div class="row">

            <div class="col" style="margin-bottom: 2%;">
                <div class="card">
                    <div class="card-header">
                        <h3>Most recent Collections</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for collection in latestCollections %}
                            <li class="list-group-item">
                                <table>
                                    <tr>
                                        <th>Collection Name</th>
                                        <td>
                                            <a href="/collections/{{ collection.CollectionName }}">
                                                {{ collection.CollectionName }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Image</th>
                                        <td>{{ collection.CollectionImage }}</td>
                                    </tr>
                                </table>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Most recent Items</h3>
                    </div>
                    <ul class="list-group list-group-flush top10">

                        {% for item in latestItems %}
                            <li class="list-group-item">
                                <table>
                                    <tr>
                                        <th>Item Name</th>
                                        <td>{{ item.ItemName }}</td>
                                    </tr>
                                    <tr>
                                        <th>From collection</th>
                                        <td>{{ item.CollectionName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <td>£{{ item.ItemPrice|number_format(2) }}</td>
                                    </tr>
                                </table>
                            </li>

                        {% endfor %}

                    </ul>
                </div>
            </div>

        </div>
    </div>
</article>
{% endblock %}
