{% extends 'main.html.twig' %}
{% import "macros/rating.html.twig" as ma %}

{% block title -%}
    Restaurant “{{ restaurant.details.name }}”
{%- endblock %}

{% block content %}
<article class="restaurant">
    <table>
        <tr>
            <td colspan="2">
                <h1>{{ restaurant.details.name }}</h1>
            </td>
            <td colspan="2">
                <div>{{ ma.rating(restaurant.rating) }}</div>
            </td>
        </tr>
        <tr>
            <th>Cuisine</th>
            <td>{{ cuisine[restaurant.details.cuisine] }}</td>
            <th>Rating</th>
            <td>{{ restaurant.rating | round(2) }}%</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ restaurant.details.address }}</td>
            <th>Quality of food</th>
            <td>{{ restaurant.food | round(1) }}/5</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ restaurant.details.phoneNumber }}</td>
            <th>Service</th>
            <td>{{ restaurant.service | round(1) }}/5</td>
        </tr>
        <tr>
            <th>Website</th>
            <td> <a href="{{ restaurant.details.website }}">{{ restaurant.details.website }}</a></td>
            <th>Value for money</th>
            <td>{{ restaurant.value | round(1) }}/5</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><a href="mailto:{{ restaurant.details.email }}">{{ restaurant.details.email }}</a></td>
            <th>Cleanliness</th>
            <td>{{ restaurant.value | round(1) }}/5</td>
        </tr>
    </table>

    <h2>Latest reviews</h2>

    <ul>
        {% for review in reviews %}
            <li>
                <table>
                    <tr>
                        <th>Date</th>
                        <td>{{ review.created | date("d/m/Y H:i") }}</td>
                    </tr>
                    <tr>
                        <th>Guest</th>
                        <td>{{ review.guest.name }}</td>
                    </tr>
                    <tr>
                        <th>Occasion</th>
                        <td>{{ occasion[review.occasion] }}</td>
                    </tr>
                    <tr>
                        <th>Quality of food</th>
                        <td>{{ food[review.food] }} ({{ review.food }}/5)</td>
                    </tr>
                    <tr>
                        <th>Service</th>
                        <td>{{ service[review.service] }} ({{ review.service }}/5)</td>
                    </tr>
                    <tr>
                        <th>Cleanliness</th>
                        <td>{{ cleanliness[review.cleanliness] }} ({{ review.cleanliness }}/5)</td>
                    </tr>
                    <tr>
                        <th>Value for money</th>
                        <td>{{ value[review.value] }} ({{ review.value }}/5)</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>{{ review.comment }}</td>
                    </tr>
                </table>
            </li>
        {% endfor %}
    </ul>
</article>
{% endblock %}
